:root{
    --color1:#f0e8bc;
    --color2:#f2bbf2c5;
    --color3:#000;
    --color4:#9adcec;
    --color5: #969393;
    --color6:#00a5ce;
    --color7:#592D1D;
    --color8:#fff;
    --color9:#008000;
    --color10:#A67951;
    --color11:#F2D5F8;
    --color12:#8D89A6;
    --color13:#b7eefc;
    --color14:rgba(255, 208, 154, 0.582);
    --color15:#121212;
    --color16:rgb(255, 77, 109);
    --color17:#f13b3b;
    --color18:#5ed45e;
    /* --color13:#BFABCB; */
    /* --color15:#f8cce0; */
    /* --color16:#eff57c; */
    /* --color17:#c4e5c9; */
    /* --color18:#def5e1d7; */
}