html { 
    scroll-behavior: smooth; 
}


@keyframes slide {
	0% { transform: translateX(-32.5%); }
	10% { transform: translateX(-65%); }

	15% { transform: translateX(-97.5%); }
	30% { transform: translateX(-130%); }

	35% { transform: translateX(-162.5%); }
	50% { transform: translateX(-195%); }

	55% { transform: translateX(-227.5%); }
	70% { transform: translateX(-260%); }

	75% { transform: translateX(-292.5%); }
	90% { transform: translateX(-325%); }

	95% { transform: translateX(-357.5%); }
	100% { transform: translateX(-390%); }
}

.main-index .slider-container {
	max-width: 100vw;
	margin: 80px auto;
    /* background-color: rgba(221, 221, 221, 0.445); */
    overflow: hidden;
	z-index: -10;
}

.slider-container .slider {
	position: relative;
	z-index: -10;
}

.slider-container .slider-ul {
    width: 100vw;
	position: relative;
	display: flex;
	overflow: hidden;
	list-style-type: none;
}

.slider-container .slider-li {
	width: 100vw;

    /* POR SI QUIERO HACER UNA RESEÑA POR CADA PASTEL  */ 

	/* flex-shrink: 0; */
	
    animation-name: slide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

.slider-container .slider-ul:hover .slider-li {
	animation-play-state: paused;
}

.slider-container .slider-li img {
    display: block;
	width: 25vw; 
    }

.slider-container .slider-li a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.slider-container .slider .slider-ul .slider-li .contenedor-a {
	display: block;
	width: 100%;
	height: 100%;
}

.slider-container .slider-li p.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 5vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

/* .slider-container .slider-li:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
} */

.slider-container .slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
    }

.slider-container .slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-container .slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

/* @media only screen and (min-width: 1200px) {
	.slider-li {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
*/