
header {
    display: flex;
}

#check {
    display: none;
}

.checkbtn {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    z-index: 100;
}

nav a img.icon {
    margin-left: 5px;
    width: 110px;
    height: 100%;
}

nav ul {
    width: 490px;
    display: flex;
}

nav ul li {
    height: 100%;
    display: flex;
}

nav ul a:hover {
    background-color: var(--color2);

}

nav ul li>a {
    width: 100%;
    font-size: 20px;
    color: var(--color15);
    height: 100%;
    padding: 1.04rem .5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font4);
}

nav ul li .entrar {
    display: none;
    position: absolute;
    margin-top: 53px;
    width: 140px;
    background-color: var(--color1);
}

nav ul li .entrar a {
    color: var(--color3);
    padding: 10px 10px;
    font-family: var(--font4);
    text-decoration: none;
    text-align: left;
    display: block;
}

nav ul li:hover .entrar {
    display: block;
}
