.main-list .price{
    display: none;
    position: absolute;
    width: 15%;
    text-align: center;
    top: 70%;
    right: 5%;
    padding: 7px;
    border-radius: 6px;
    font-size: .9rem;
    font-family: var(--font1);
    color: var(--color8);
    background-color: var(--color6);
}

.main-list .mostrar:hover .price{
    display: block;
}

.button-order{
    display: block;
    width: 60%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: var(--color8);
    margin: 17px auto;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 13px;
    cursor: pointer;
    background-color: var(--color16);
}

.main-list img{
    width: 10vw;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.main-list img:hover{
    width: 13vw;
    transition: .5s;
}

.main-list h1{
    width: 100%;
    margin: 70px auto;
    text-align: center;
    color: var(--color8);
    padding: 10px;
    font-size: 2.3rem;
    font-weight: 400;
    background-color: var(--color16);
    font-family: var(--font6);
}

.main-list section.catalogo-boda{
    margin: -49px auto;
    width: 98%;
}

.main-list .h2{
    width: 98%;
    margin: auto;
    padding: 13px;
    color: var(--color8);
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--color2);
    font-family: var(--font4);
    font-weight: 400;
    border-radius: 13px;
}

.main-list .h3{
    width: 98%;
    margin: auto;
    padding: 6px;
    text-align: center;
    margin-bottom: 6px;
    color: var(--color3);
    background-color: var(--color8);
    border-radius: 7px;
}


.main-list section .lista{
    display: flex;
    padding: 10px;
    width: 100%;
    align-items: center;
}

.main-list section .lista>div{
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: var(--color13);
    border-radius: 13px;
}

.main-list section .lista .item>div{
    position: relative;
    width: 98%;
    margin: auto;    
    margin-bottom: 10px;
}

.main-list section .lista .item span{
    color: var(--color16);
}

.main-list section .lista .item ul{
    margin: auto;
    width: 98%;
    list-style-position: inside;
}

.main-list section.catalogo-Happy-Birthday,
.main-list section.catalogo-Temática-Festiva,
.main-list section.catalogo-ninos,
.main-list section.catalogo-adultos{
    margin: 40px auto;
    width: 98%;
}

.main-list section.catalogo-Happy-Birthday .h2{
    background-color: var(--color12);
}

.main-list section.catalogo-Temática-Festiva .h2{
    background-color: var(--color17);
}

.main-list section.catalogo-ninos .h2{
    background-color: var(--color18);
}

.main-list section.catalogo-adultos .h2{
    background-color: var(--color6);
}

.personalizacion h3{
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font3);
}

footer{
    margin-top: 10px !important;
}