/* MEDIA QUERIES SIZE 768PX */

/* INDEX */

@media screen and (max-width:968px) and (min-width:768px) {
    .main-index header h1 {
        margin-top: -10px;
        font-size: 2.4rem !important;
    }

    .main-index header p {
        margin-top: -10px;
    }

    .main-index .pasteles h2 {
        font-size: 4rem !important;
    }

    .pastel .pastel-description h3 {
        font-size: 2.9rem !important;
    }

    .main-index .pastel {
        height: 69vh !important;
    }

    .pastel .pastel-description h3 {
        margin-top: -20px !important;
    }

    .pastel .pastel-description p {
        font-size: 1rem !important;
    }

    .pastel .pastel-description .button-comprar {
        margin-top: 20px !important;
    }

    .pastel .pastel-description .button-comprar a {
        width: 40% !important;
    }

    .pastel {
        height: 65vh !important;
    }

    .main-index .Boda.pastel {
        height: 65vh !important;
    }

    .main-index .ninos.pastel {
        height: 65vh !important;
    }

    .main-index .ninos.pastel h3 {
        font-size: 2.5rem !important;
    }

    .pasteles .adultos.pastel {
        height: 70vh !important;
    }

}



@media (min-width:481px) and (max-width:768px) {

    /* NAV */

    .checkbtn {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-top: 12px;
        margin-left: 10px;
    }

    nav a img.icon {
        display: block;
        margin: -45px auto;
    }

    nav {
        display: block;
        z-index: 4;
    }

    nav ul {
        margin-top: 45px;
        width: 100%;
        display: none;
        background-color: var(--color1);
    }

    nav ul li a i{
        display: none !important;
    }

    nav ul li .entrar {
        margin-top: 55px;
        display: none;
        width: 100%;
    }

    nav ul li a {
        margin: auto;
        text-align: center;
    }

    nav ul li .entrar a {
        text-align: center;
    }

    /* animacion del menu */

    #check:checked~ul {
        display: block;
        animation-name: menu;
        animation-duration: 1s;
    }

    @keyframes menu {
        from {
            margin-left: -100%;
        }

        to {
            margin-right: 100%;
        }

    }

    /* Animacion del icono de menu */

    #check:checked~.checkbtn {
        margin-right: 10px;
        justify-content: end;
        animation-name: btn-menu;
        animation-duration: 1s;
        z-index: -1;
    }

    @keyframes btn-menu {
        from {
            margin-right: 100%;
        }

        to {
            margin-right: 0%;
        }

    }

    .main-index header h1 {
        margin-top: -10px;
        font-size: 2rem !important;
    }

    .main-index header p {
        margin-top: -17px;
        font-size: 1.4rem !important;
    }

    .slider-container {
        width: 99%;
    }

    .main-index .pasteles h2 {
        font-size: 3.6rem !important;
    }

    .pastel .pastel-description h3 {
        font-size: 2.6rem !important;
    }

    .main-index .pastel {
        height: 75vh !important;
        width: 98% !important;
        margin: auto;
    }

    .pastel .pastel-description h3 {
        margin-top: -20px !important;
    }

    .pastel .pastel-description p {
        font-size: 1rem !important;
    }

    .pastel .pastel-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pastel-description .pastel-gallery img {
        display: block;
        padding: 5px;
        width: 13vh !important;
    }

    .pastel-description .pastel-gallery img:hover {
        width: 16vw !important;
    }

    .pastel .pastel-description .button-comprar {
        margin-top: 20px !important;
    }

    .pastel .pastel-description .button-comprar a {
        width: 40% !important;
    }

    .pastel {
        height: 65vh !important;
    }

    .main-index .Boda.pastel {
        height: 85vh !important;
    }

    .main-index .Happy-Birthday{
        margin-top: 60px;
    }

    .main-index .ninos.pastel {
        height: 87vh !important;
    }

    .main-index .ninos.pastel h3 {
        font-size: 2.5rem !important;
    }

    .pasteles .adultos.pastel {
        height: 93vh !important;
    }

    /* FOOTER */

    footer .footer {
        flex-wrap: wrap !important;
        flex-direction: row;
        width: 98% !important;
    }

    footer .copyright{
        font-size: 1rem !important;
    }

/* LIST-STYLE */

.main-list section .lista{
    flex-wrap: wrap;
    flex-direction: row;
}

.main-list .lista .item .mostrar img{
    width: 40vw;
    border: 1px solid red;
}

.main-list .lista .item .mostrar img:hover{
    width: 45vw;
}


}